html {
    background-color: #03002a;
    background-image:url(dot.png);
    
}

body {
    margin: 0 auto;
    max-width: 800px;
    font-family: source-sans-pro, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:#0078ff;
    cursor:none;
}


#title{
    border: solid #0078ff 2px;
    position:relative;
    font-size:25px;
    padding:10px 30px;
    padding-top:24px;
    border-right:solid #0078ff 2px;
    margin-top:30px;
    width:518px;
    float:left;
    height:43px;
    
}

#time{
    border: solid #0078ff 2px;
    position:relative;
    font-size:25px;
    padding:24px 20px 23px 41px;
    width:155px;
    float:right;
    margin-left:-2px;
    top:5px;
}

#progress{
    clear:both;
    border: solid #0078ff 2px;
    position:absolute;
    padding-left:30px;
    padding-top:45px;
    top:109px;
    width:766px;
    height:160px;
    font-size:14px;
    overflow: hidden;
    font-family: monospace;
}

#thumbscan{
    clear:both;
    position:absolute;
    top:350px;
    border: solid #0078ff 10px;

    width:780px;
    height:870px;
}

#instructions{
    font-size:24px;
    text-align:center;
    margin-top:150px;
}

#donescan{
    font-size: 32px;
    position: absolute;
    left: 50%;
    text-align: center;
    top: 412px;
    margin-left: -208px;
}

.scannerthumb{
    position: absolute;
    left: 50%;
    top: 704px;
    margin-left: -107px;
    z-index: 9990;
}

#scanning{
    font-size:24px;
    text-align:center;
    margin-top:150px;
    color: red;
}

#print{
  position: absolute; 
  left:354px;
  top:401px;
   z-index:3;
}

.thumbbox{
    position: absolute;
    left: 50%;
    top: 400px;
    z-index: 9999;
}
.thumbboxtext{
    position: absolute;
    left: 50%;
    top: 400px;
    z-index: 9999;
}

.box1{
    margin-top: 385px;
    margin-left: 12px;
}
.box1text{
    margin-top: 396px;
    margin-left: 216px;
}

.box2{
    margin-top: 421px;
    margin-left: 3px;
}
.box2text{
    margin-top: 598px;
    margin-left: 225px;
}

.box3{
    margin-top: 380px;
    margin-left: -362px;
}
.box3text{
    margin-top: 390px;
    margin-left: -306px;
}

.box4{
    margin-top: 178px;
    margin-left: 5px;
}
.box4text{
    margin-top: 191px;
    margin-left: 228px;
}

.box5{
    margin-top: 172px;
    margin-left: -335px;
}
.box5text{
    margin-top: 183px;
    margin-left: -279px;
}

.box6{
    margin-top: 427px;
    margin-left: -335px;
}
.box6text{
    margin-top: 604px;
    margin-left: -275px;
}

.wrapper {
  width: 300px; /* Set the size of the progress bar */
  height: 300px;
  position: absolute; /* Enable clipping */
  left:240px;
  top:300px;
  clip: rect(0px, 300px, 300px, 150px); /* Hide half of the progress bar */
}
/* Set the sizes of the elements that make up the progress bar */
.circle {
  width: 240px;
  height: 240px;
  border: 30px solid #0078ff;
  border-radius: 150px;
  position: absolute;
   clip: rect(0px, 150px, 300px, 0px);
  z-index:2;
}

.wrapperbg {
  width: 300px; /* Set the size of the progress bar */
  height: 300px;
  left:240px;
  top:300px;
  position: absolute; /* Enable clipping */
}
.circlebg {
  width: 240px;
  height: 240px;
  background-color:#03002a; 
  border: 30px solid #003c80;
  border-radius: 150px;
  position: absolute;
  z-index:1;
}

.outer {
  width: 320px; /* Set the size of the progress bar */
  height: 320px;
  position: absolute; /* Enable clipping */
  left:229px;
  top:289px;
  
}
/* Set the sizes of the elements that make up the progress bar */
.outercircle {
  width: 318px;
  height: 318px;
  border: 2px solid #003c80;
  border-radius: 160px;
  position: absolute;
  z-index:1;
}

/* Using the data attributes for the animation selectors. */
/* Base settings for all animated elements */
div[data-anim~=base] {
  -webkit-animation-iteration-count: 1;  /* Only run once */
  -webkit-animation-fill-mode: forwards; /* Hold the last keyframe */
  -webkit-animation-timing-function:linear; /* Linear animation */
}

.wrapper[data-anim~=wrapper] {
  -webkit-animation-duration: 0.01s; /* Complete keyframes asap */
  -webkit-animation-delay: 2s; /* Wait half of the animation */
  -webkit-animation-name: close-wrapper; /* Keyframes name */
}

.circle[data-anim~=left] {
  -webkit-animation-duration: 4s; /* Full animation time */
  -webkit-animation-name: left-spin;
}

.circle[data-anim~=right] {
  -webkit-animation-duration: 2s; /* Half animation time */
  -webkit-animation-name: right-spin;
}
/* Rotate the right side of the progress bar from 0 to 180 degrees */
@-webkit-keyframes right-spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(180deg);
  }
}
/* Rotate the left side of the progress bar from 0 to 360 degrees */
@-webkit-keyframes left-spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
/* Set the wrapper clip to auto, effectively removing the clip */
@-webkit-keyframes close-wrapper {
  to {
    clip: rect(auto, auto, auto, auto);
  }
}

#uppertext{
    color: #0078ff;
    font-size: 32px;
    position: absolute;
    left: 50%;
    margin-left: -347px;
    top: 20px;
}

.sanders{
    color: #84BCFF;
}

.beernews{
    color: #84BCFF;
}

.tmz{
    color: #84BCFF;
}